* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-div {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 20px 40px;
  background-color: rgba(49, 49, 49, 0.5);
  border-radius: 10px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  padding: 8px 12px;
}
